/* tipografia */

h1 {
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
}

h2 {
    font-weight: 700;
    letter-spacing: -0.05em;
    font-size: 3em;
}

h3 {
    font-weight: 700;
    letter-spacing: -0.05em;
    font-size: 2em;
}

html,
body,
#home1 {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../assets/capa.png), url(../assets/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helverica, Helvetica, Arial, sans-serif;
}


/* barra de navegação */

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: rgb(255, 255, 255, 0.3);
}

#divisor {
    width: 1px;
    background: white;
    margin: 12px 15px;
}


/* ---------------------------------------- Home ---------------------------------------- */


/* HOME 1 */

#musica-todos-id {
    text-align: center;
}

.btn-custom {
    color: white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: 0.4s all;
    padding: 10px 20px;
}

#btn-roxo {
    background: #7c25f8;
}

#btn-roxo:hover {
    background: #6207e3;
    color: white;
}

#btn-branco {
    border: 2px solid white;
}

#btn-branco:hover {
    background-color: white;
    color: black;
}


/* HOME 2 */

#home2 {
    background: white;
    padding: 20px 0px;
}

.albuns {
    padding: 10px 0px;
}

#home2 h2,
#home2 h3 {
    color: #7c25f8;
}


/* HOME 3 */

#home3 {
    padding: 20px 0px;
}

#home3 h3 {
    color: #2bf0e1;
}

#home3 h2,
#home3 p {
    color: white;
}

#phones {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}


/* rodape */

footer {
    background: black;
    padding: 50px 0px 20px 0px;
    position: relative;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

footer ul {
    list-style: none;
}

footer ul li {
    float: right;
    margin: 0px 5px;
}


/* ---------------------------------------- Media ---------------------------------------- */


/* Extra small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    nav#nav-transparente {
        background: rgb(0, 0, 0, 0.6);
    }
    #musica-todos-id {
        margin-top: 5em;
    }
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
    #logo-rodape {
        padding-bottom: 3em;
        width: 150px;
    }
    #social-medias {
        padding: 30px 0px;
    }
}


/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) and (max-width: 767.98px) {
    nav#nav-transparente {
        background: rgb(0, 0, 0, 0.6);
    }
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
    }
    .btn-custom+.btn-custom {
        margin-top: 10px;
    }
    #logo-rodape {
        padding-bottom: 3em;
        width: 150px;
    }
}


/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) and (max-width: 991.98px) {
    nav#nav-transparente {
        padding: 10px 0px;
        background: rgb(0, 0, 0, 0.6);
    }
    h1 {
        font-size: 5em;
    }
    #logo-rodape {
        width: 110px;
    }
    .btn-custom {
        font-size: 20px;
    }
}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) and (max-width: 1199.98px) {
    nav#nav-transparente {
        padding: 15px 0px;
        background: rgb(0, 0, 0, 0.6);
    }
    h1 {
        font-size: 5em;
    }
    #logo-rodape {
        width: 150px;
    }
}


/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    nav#nav-transparente {
        padding: 15px 0px;
        background: rgb(0, 0, 0, 0.6);
    }
    h1 {
        font-size: 6em;
    }
    #logo-rodape {
        width: 170px;
    }
}